<%= form_for(@song) do |f| %>
  <%= if @song.errors.any? %>
    <div id="error_explanation">
      <h2>Errors:</h2>
      <ul>
        <%= @song.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
